body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
header {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
}

header .header__logo {
  font-weight: 600;
  font-size: 18px;
  color: black;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

header a:focus,
a:hover {
  color: black;
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:focus,
a:hover {
  color: black;
}

/* post navigation */
.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 40px 20px 20px 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

/* post list, post detail */
.post__list,
.post__detail {
  min-height: 90vh;
  max-width: 680px;
  padding: 20px 40px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.post__list a {
  text-decoration: none;
  color: black;
}

/* post box */
.post__box {
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
}

.post__profile-box {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.post__profile {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.post__author-name,
.post__date {
  color: gray;
}

.post__title {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin: 14px 0px;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__utils-box {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  font-size: 14px;
  color: gray;
}

.edit__edit:hover,
.edit__edit:focus {
  color: black;
}

.post__delete:hover,
.post__delete:focus {
  color: black;
}

/* post detail */
.post__detail .post__box {
  border-top: none;
}
.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 20px 0;
}

.post__detail .post__text {
  padding: 20px 0;
}
